html {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, "Lucida Grande", Verdana, Tahoma, Arial, Sans;
}
body {
    width: 800px;
    margin: 0 auto;
    padding: 0;
}
div.page {
    background: #f0f0f0;
    padding: 20px;
}
div.logo {
    float: right;
    padding: 20px;
}
div.content {
    min-height: 400px;
}
h1 {
    font-weight: normal;
    margin: 50px 0 40px 0;
    border-bottom: 1px solid black;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
    color: inherit;
}
a img {
    border: 0;
}
div.footer {
    border-top: 1px solid #808080;
    font-size: small;
}
div.footer p {
    margin: 0;
    padding: 0;
}
